@page "/"
@inject IJSRuntime jsRun;
<PageTitle>Index</PageTitle>

<h1 class="primjer">Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

<CategoryProduct CategoryName="Pero" Id="3"></CategoryProduct>

@code
{
    private IJSObjectReference? jsModule;
    protected override async void OnAfterRender(bool firstRender)
    {

        if (firstRender)
        {
     //       jsModule = await jsRun.InvokeAsync<IJSObjectReference>(
     //"import", "./Pages/Index.razor.js");


           
        }
        else
        {
     
        }
        //var confirm = await jsRun.InvokeAsync<bool>("confirm", "Jeste li sigurni da želite obrisati stavku?"); /*invokanje JS u C# , odlazi u IF*/
        //string prompted = await jsRun.InvokeAsync<string>("prompt", "Take some input:"); // Prompt
        //string ourfunction = await jsModule.InvokeAsync<string>("showPrompt", "Take some input:"); // Prompt
        //string ourfunction2 = await jsModule.InvokeAsync<string>("sayHi", "Petar"); // Prompt
        
    }
}