@page "/Admin/dashboard"

<h3>Dashboard</h3>
<NavLink class="nav-link" href="Admin/category-list" Match="NavLinkMatch.All">
    <span class="oi oi-home" aria-hidden="true"></span> Category List 
</NavLink>

<NavLink class="nav-link" href="Admin/list-products" Match="NavLinkMatch.All">
    <span class="oi oi-home" aria-hidden="true"></span> Product List
</NavLink>
@code {

}
